body{
    background-color: #eeeeee;
    justify-content: center;
}
h1{
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 100px;
}
h2{
    margin-left: 380px;
    margin-top: 100px;
}
.Calculator{
    width: 300px;
    height: 500px;
    background-color: black;
    margin: 0 auto;
    border-radius: 25px; 
    border: 5px solid black;
    padding: 20px;
    position: relative; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
    font-family:  "Sue Ellen Francisco", cursive;
}
.ValueDisplay{
    margin-left: -5px;
    margin-right: center;
    width: 300px;
    height: 100px;
    padding: 5px;
    font-size: 3rem;
    border-radius: 25px;
    background-color:#505050;
    border-color: transparent;
    color: white;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px;
    margin-top: -100px;
}
button{
    width: 65px;
    height: 65px;
    background-color: #505050;
    border-radius: 50px;
    color: #d4d4d2;
    padding: auto;
    margin-top: 15px;
    margin-left: 5px;
    border-color: transparent;
    font-size: 200%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button:hover{
    background-color: #505050;
    opacity: 45%;
}
button:active{
    background-color: #505050;
}
.operator-button{
    background-color: #FF9500
}